<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid"  > 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://images.tech.co/wp-content/uploads/2019/12/19112253/future-gaming-708x400.jpg" alt="Los Angeles" style="width:100%; height:550px">
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1542751371-adc38448a05e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="Chicago" style="width:100%; height:550px">
      </div>
    
      <div class="item">
        <img src="https://images.news18.com/ibnlive/uploads/2019/05/Mobile-gaming-in-India.jpg" alt="New york" style="width:100%; height:550px">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- spacing between corosaules and category -->
<br><br><br>
<h2 class="font-weight-bolder text-center" style="color:brown">Best  Gaming category</h2>
<br><br>

<!-- best category -->

 
      
     <div class="container">
         <div class="row">
             <div class="col">
  <div class="card" style="width:200px">
    <img class="card-img-top" src="https://images-eu.ssl-images-amazon.com/images/I/51xDl3CQB1L._AC_SX184_.jpg" alt="Card image" style="width:100%">
  </div>
             </div>
             <div class="col">
  <div class="card" style="width:200px">
    <img class="card-img-bottom" src="https://images-eu.ssl-images-amazon.com/images/I/51slLdToUkL._AC_SX184_.jpg" alt="Card image" style="width:100%">
  </div>
</div>
 <div class="col">
  <div class="card" style="width:200px">
    <img class="card-img-bottom" src="https://images-eu.ssl-images-amazon.com/images/I/51aDTlJMvSL._AC_SX184_.jpg" alt="Card image" style="width:100%">
  </div>
</div>
<div class="col">
  <div class="card" style="width:200px">
    <img class="card-img-bottom" src="https://images-eu.ssl-images-amazon.com/images/I/51QCD7vWrOL._AC_SX184_.jpg" alt="Card image" style="width:100%">
  </div>
</div>
<div class="col">
  <div class="card" style="width:200px">
    <img class="card-img-bottom" src="https://images-eu.ssl-images-amazon.com/images/I/51l-2eWB-yL._AC_SX184_.jpg" alt="Card image" style="width:100%">
  </div>
</div>
<div class="col">
  <div class="card" style="width:200px">
    <img class="card-img-bottom" src="https://images-eu.ssl-images-amazon.com/images/I/51bz-a2HEhL._AC_SX184_.jpg" alt="Card image" style="width:100%">
  </div>
</div>
<div class="col">
  <div class="card" style="width:200px">
    <img class="card-img-bottom" src="https://images-eu.ssl-images-amazon.com/images/I/516fnKcywFL._AC_SX184_.jpg" alt="Card image" style="width:100%">
  </div>
</div>
<div class="col">
  <div class="card" style="width:200px">
    <img class="card-img-bottom" src="https://images-eu.ssl-images-amazon.com/images/I/51w1GEtlqTL._AC_SX184_.jpg" alt="Card image" style="width:100%">
  </div>
</div>
  
             </div>
         </div>
  
  <!-- before footer animation -->
  <br><br><br>
<div class="container-fluid row">
    <div class="col-auto" style="margin: auto;">
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://media.istockphoto.com/videos/shot-of-hands-holding-video-game-console-controlling-joystick-video-id854875652" type="video/mp4">
  </video>
  </div>
  <div class="col-auto" style="margin: auto;">
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://media.istockphoto.com/videos/arc-shot-of-the-beautiful-pro-gamer-girl-playing-in-firstperson-video-id1001986998" type="video/mp4">
  </video>
 </div>
</div>

<br><br><br><br><br>
  <!-- Footer -->
	<section id="footer" style="background-color:blue; border:3px solid black">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5 style="color:whitesmoke">Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li ><a href="#" style="color: whitesmoke;"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li ><a href="#" style="color: whitesmoke;"><i class="fa fa-angle-double-right"></i>About</a></li>
						
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5 style="color: whitesmoke;">Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#" style="color: whitesmoke;"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="#" style="color: whitesmoke;"><i class="fa fa-angle-double-right"></i>About</a></li>
						
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5 style="color: whitesmoke;">Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#" style="color: whitesmoke;"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="#" style="color: whitesmoke;"><i class="fa fa-angle-double-right"></i>About</a></li>

					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook" style="color: whitesmoke;"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter" style="color: whitesmoke;"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-instagram" style="color: whitesmoke;"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" style="color: whitesmoke;"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope" style="color: whitesmoke;"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="#" style="color: whitesmoke;">Gaming plus</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
					<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="#" target="_blank">Gaming plus</a></p>
				</div>
				</hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->

</body>
